<head>
    <style>
    #box {
        text-align: center;
        background :white;
    }
    #numbers {
        text-align : center;
        background : yellow;
        margin: 0 auto;
    }
    #today {
        text-align: center;
    }
    </style>
</head>
<body>
    <div id= "box">일확천금의 기회를 놓치지 마세요 !</div>
    <center><img src="http://cfile27.uf.tistory.com/image/99ECC13B5AA3DB2428F3D7" width="700px" height="300px" alt="돼지꿈" border="5px"></center>
    <div id="today">오늘의 숫자는..?</div><br>
    <div id="numbers"><%= @jackpot %></div>
    <br><div id="today"><a href='http://www.nlotto.co.kr/common.do?method=main'>오늘의 당첨 번호는,,?</a></div>
</body>
